@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
* {
	padding: 0;
	margin: 0;

	z-index: 0;
	color: rgb(194, 194, 194);
}
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
body {
	background-color: rgb(87, 87, 87);
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: overline;
}
section {
	z-index: 0;
	margin-top: 50px;
	width: 100%;
	height: fit-content;
	text-align: center;
}
.headerSection {
	color: rgb(194, 194, 194);
	font-size: 50px;
	font-variant: small-caps;
}
.paragraphSection {
	color: rgb(194, 194, 194);
	font-variant: small-caps;
}
.information {
	font-variant-caps: all-small-caps;
	text-align: end;
	padding: 10px;
	margin: 40px;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.menu {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 30px;
	padding: 10px;
	text-align: center;
	font-variant: small-caps;
	justify-content: space-between;
}
.menu__list {
	height: fit-content;
}
.menu__item {
	display: inline;
	text-decoration: none;

	margin-right: 70px;
	padding: 5px;

	font-size: 18px;
}
.menu__item--hidden {
	display: none;
}
.home__content {
	position: relative;
	text-align: center;
	margin: auto;
}
.home__title {
	font-variant-caps: all-small-caps;
	font-size: 100px;

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}
.home__slides {
	display: none;
}
.about {
	height: 900px;
}
.about__content {
	position: absolute;
	left: 20%;
	width: 60%;
	text-align: start;
}
.about__conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.about__item {
	width: auto;
	height: auto;
	padding: 10px;
	margin: 20px;
}
.about__item > img {
	border-radius: 25px;
	width: 300px;
	height: 400px;
}
.projects {
	height: 900px;
}
.projects__title {
	position: absolute;
	top: 30vh;
	left: 50%;
	transform: translate(-50%, -50%);
}
.projects__conteiner {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.projects__item {
	margin-right: 100px;
	margin-bottom: 60px;
}
.projects__item > a:hover {
	text-decoration: none;
}
.projects__item-img {
	width: 300px;
	border-radius: 25px;
}
