@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
* {
	padding: 0;
	margin: 0;

	color: rgb(194, 194, 194);
}
@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

body {
	background-color: rgb(87, 87, 87);
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: overline;
}
h1 {
	color: white;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.menu {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100vw;
	height: 30px;
	padding: 10px;
	text-align: center;
	font-variant: small-caps;
	justify-content: space-between;
}
.menu__list {
	height: fit-content;
}
.menu__item {
	display: inline;
	text-decoration: none;

	margin-right: 70px;
	padding: 5px;

	font-size: 18px;
}
.home__content {
	position: relative;
	text-align: center;
	margin: auto;
}
.home__title {
	font-variant-caps: all-small-caps;
	font-size: 60px;

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.home__slides {
	display: none;
}
